.header {
    background-color: var(--header-bg);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top) + env(safe-area-inset-top, 0px));
}

.gradient {
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 56%, rgba(237, 221, 83, 1) 100%);
}
/*.container {*/
/*    background-color: var(--header-bg);*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 0 1rem;*/
/*    height: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top) + env(safe-area-inset-top, 0px));*/
/*}*/

/*.logo {*/
/*    color: var(--text-color);*/
/*    text-decoration: none;*/
/*    font-size: 1.5rem;*/
/*    font-weight: 700;*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .container {*/
/*        padding: 0 0.5rem;*/
/*    }*/

/*    .logo {*/
/*        font-size: 1.2rem;*/
/*    }*/
/*}*/